/* hide scrollbar for Chrome, Safari, and Opera */
.products::-webkit-scrollbar {
  display: none;
  
  scrollbar-width: none;
}
.splide__pagination {
  z-index: 0; /* Decrease the z-index value as per your requirement */
}