.pagination {
  list-style: none;
  display: flex;
  justify-content: right;
  margin-right: 2rem;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  gap: 8px;
  color: #2B3445; /* main textcolor */

}

.pagination .page-num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px; 
  cursor: pointer;
  border: 1px;
  border-radius: 50%;
  background-color: transparent;
  font-weight: 400;
  border: 1px solid lightgray;
  text-align: center;
}


.pagination .page-num:hover {
  background-color: "#F2E3E8";

}
.pagination .active .page-num {
  border-color: rgb(210, 63, 87);
  color: rgb(210, 63, 87);
  background-color: #F2E3E8;
  
}
